.placeContainer {
    width: 800px;
    max-height: 800px;
    background-color: white;
    border: 0 solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    font-family: 'Noto Sans JP', sans-serif;
}

.placeImage img {
    margin-top: 10px;
    width: auto;
    max-height: 400px;
    object-fit: cover;
    border: 0 solid white;
    border-radius: 30px;
}

.placeInfo {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
}

.placeButtons {
    padding-top: 20px;
    padding-bottom: 20px;
}